<div class="bg-off-white pv4">
  <div class="ph3 mw7 center">
    <h2 class="f2 b lh-title mb2">{{.intro.heading}}</h2>
    <p class="mb4 mw7">{{.intro.text}}</p>

    <div class="flex-ns mhn2-ns mb3 justify-center">
      {{ range .randos }}
      <div class="ph2-ns">
        <a href="{{.link}}">
          <img src="{{.image}}" alt="" class="center db mb3 h4-l" >
          <p>{{.text}}</p>
        </a>
      </div>
      {{ end }}
    </div>

    <div class="tc">
      <a href="/randos" class="btn raise">Voir toutes les randos</a>
    </div>
  </div>
</div>
