<div class="ph2">

	<!-- Title -->
	<h3 class="b f5 grey-3 tc lh-title mb3">{{.plan}}</h3>

	<!-- Image -->
	<div class="h4 bg-center cover" style="background-image: url('{{.image}}')"></div>

	<!-- Description -->
	<p class="b tc h2">{{.description}}</p>

	<!-- Start -->
	<p><a target="_blank" href="{{.mapLink}}">{{.start}}</a></p>

	<!-- Features -->
	<ul>
		{{ $itemCount := len .items }}
		{{ range $index, $item := .items }}
		<li>
			<p class="pb2 mb2 divider-grey">{{ $item }}</p>
		</li>
		{{ end }}
		<li>
			{{ range .socials }}
          {{ partial "social-icon" . }}
        {{ end }}
		</li>
	</ul>
</div>
